In [1]:
import pandas as pd

In [3]:
ex_behav = 'piva_dd/sub-01/ses-01/func/sub-01_ses-01_task-SIC_run-01_events.tsv'

In [4]:
df = pd.read_csv(ex_behav, sep='\t')

In [5]:
df.head()

,onset,duration,choice,agent,money_left,delay_left,money_right,delay_right
0,17.009420,5,1,1,23.21,131,10.99,51
1,28.013655,5,1,1,16.43,32,9.99,19
2,43.017407,5,1,1,38.44,33,32.02,12
3,56.021820,5,1,1,38.66,100,26.57,24
4,71.024792,5,1,1,29.54,142,27.76,6

In [6]:
def function_0(df):

,onset,duration,choice,agent,money_left,delay_left,money_right,delay_right
0,17.009420,5,1,1,23.21,131,10.99,51
1,28.013655,5,1,1,16.43,32,9.99,19
2,43.017407,5,1,1,38.44,33,32.02,12
3,56.021820,5,1,1,38.66,100,26.57,24
4,71.024792,5,1,1,29.54,142,27.76,6
5,84.027522,5,2,1,21.40,111,22.30,179
6,99.032024,5,2,1,1.09,57,12.08,120
7,112.035490,5,2,1,12.89,6,33.76,149
8,123.039206,5,2,1,14.70,120,17.86,173
9,134.042830,5,2,1,19.62,150,19.25,27
10,145.047487,5,1,1,12.26,37,13.64,75
11,158.052169,5,1,1,36.47,163,2.27,151
12,173.055158,5,1,1,13.91,11,14.19,94
13,188.061036,5,2,1,13.72,66,13.51,9
14,201.064303,5,2,1,16.60,16,22.06,54
15,218.071854,5,2,0,16.31,132,12.65,21
16,231.077068,5,1,0,21.56,16,27.53,154
17,242.080367,5,1,0,15.77,108,5.87,96
18,255.083959,5,1,0,12.06,90,9.17,84
19,270.088602,5,2,0,4.01,31,28.26,115
20,283.094411,5,1,0,19.91,84,20.26,159
21,298.098435,5,1,0,10.25,42,10.40,178
22,309.101121,5,1,0,21.87,89,23.26,168
23,324.105272,5,2,0,5.05,4,12.81,13
24,339.108987,5,1,0,30.97,30,38.91,130
25,352.112525,5,1,0,32.17,111,14.93,52
26,363.115843,5,1,0,28.11,80,17.57,14
27,374.118985,5,1,0,26.33,119,31.17,168
28,389.121609,5,2,0,14.61,109,29.75,156
29,400.127081,5,1,0,14.70,120,17.86,173

In [66]:
    
def function_0(df):    
    
    new_df = {}
    new_df['onset'] = []
    new_df['duration'] = []
    new_df['delay_later'] = []
    new_df['delay_sooner'] = []
    new_df['amount_later'] = [] 
    new_df['amount_sooner'] = []
    new_df['choice'] = []
    
    for _,row in df[df['agent']==0].iterrows():
        new_df['onset'].append(row['onset'])
        new_df['duration'].append(row['duration'])
        if row['delay_left'] >= [row['delay_right']]:
            new_df['delay_later'].append(row['delay_left'])
            new_df['delay_sooner'].append(row['delay_right'])
            new_df['amount_later'].append(row['money_left'])
            new_df['amount_sooner'].append(row['money_right'])
            new_df['choice'].append(1 if row['choice'] == 1 else 0)
        else:
            new_df['delay_later'].append(row['delay_right'])
            new_df['delay_sooner'].append(row['delay_left'])
            new_df['amount_later'].append(row['money_right'])
            new_df['amount_sooner'].append(row['money_left'])
            new_df['choice'].append(1 if row['choice'] == 2 else 0)
    
    return pd.DataFrame(new_df)

In [67]:
function_0(df)

,onset,duration,delay_later,delay_sooner,amount_later,amount_sooner,choice
0,218.071854,5.0,132.0,21.0,16.31,12.65,0
1,231.077068,5.0,154.0,16.0,27.53,21.56,0
2,242.080367,5.0,108.0,96.0,15.77,5.87,1
3,255.083959,5.0,90.0,84.0,12.06,9.17,1
4,270.088602,5.0,115.0,31.0,28.26,4.01,1
5,283.094411,5.0,159.0,84.0,20.26,19.91,0
6,298.098435,5.0,178.0,42.0,10.40,10.25,0
7,309.101121,5.0,168.0,89.0,23.26,21.87,0
8,324.105272,5.0,13.0,4.0,12.81,5.05,1
9,339.108987,5.0,130.0,30.0,38.91,30.97,0
10,352.112525,5.0,111.0,52.0,32.17,14.93,1
11,363.115843,5.0,80.0,14.0,28.11,17.57,1
12,374.118985,5.0,168.0,119.0,31.17,26.33,0
13,389.121609,5.0,156.0,109.0,29.75,14.61,1
14,400.127081,5.0,173.0,120.0,17.86,14.70,0

In [18]:
new_row = pd.DataFrame()

In [58]:
def convert_row(row):
    new_row = pd.DataFrame()
    new_row['onset'] = [row['onset']]
    new_row['duration'] = [row['duration']]
    if row['delay_left'] >= [row['delay_right']]:
        new_row['delay_later'] = [row['delay_left']]
        new_row['delay_sooner'] = [row['delay_right']]
        new_row['amount_later'] = [row['money_left']]
        new_row['amount_sooner'] = [row['money_right']]
        new_row['choice'] = [1] if row['choice'] == 1 else [0]
    else:
        new_row['delay_later'] = [row['delay_right']]
        new_row['delay_sooner'] = [row['delay_left']]
        new_row['amount_later'] = [row['money_right']]
        new_row['amount_sooner'] = [row['money_left']]
        new_row['choice'] = [1] if row['choice'] == 2 else [0]
    return new_row

In [59]:
convert_row(row)

,onset,duration,delay_later,delay_sooner,amount_later,amount_sooner,choice
0,400.127081,5.0,173.0,120.0,17.86,14.7,0

In [50]:
new_row = pd.DataFrame()
new_row[0]['onset'] = roxxw['onset']
#new_row['duration'] = [row['duration']]

KeyError: 0

In [48]:
new_row

        onset  duration
0  400.127081       5.0

In [35]:
row

onset          400.127081
duration         5.000000
choice           1.000000
agent            0.000000
money_left      14.700000
delay_left     120.000000
money_right     17.860000
delay_right    173.000000
Name: 29, dtype: float64

In [36]:
row['onset']

400.127081135

In [40]:
new_row['onset'] = [row['onset']]

In [42]:
new_row['onset'][0]

400.127081135

In [34]:
new_row

Empty DataFrame
Columns: [onset, duration]
Index: []

In [31]:
convert_row(row[1])

Empty DataFrame
Columns: [onset, duration, delay_later, delay_sooner, amount_later, amount_sooner, choice]
Index: []

In [17]:
row[1]['onset']

400.127081135

In [19]:
x = 1 if 1==2 else 3

In [20]:
x

3